# VS Code specific files
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/omnisharp.json

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
publish/

# Visual Studio files (can be removed since we're moving away from VS)
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs
*.[Rr]e[Ss]harper
*.DotSettings.user
*.sln.iml

# NuGet packages
packages/
*.nupkg
*.snupkg
# Uncomment if necessary
# !packages/repositories.config

# MSBuild Binary and Structured Log
*.binlog

# Local History for Visual Studio Code
.history/

# Windows specific
Thumbs.db
ehthumbs.db
Desktop.ini
